body {
    background-color: #EFEFEF;
    color: black;
    font-size: 20px;
}

#navbar {
    background-color: white;
    margin: 10px;
    padding: 10px;
    overflow: hidden;
    border-radius: 30px;
}

.navbarItems {
    float: left;
    display: block;
    margin: 5px;
    padding: 14px 16px;
    color: black;
    text-align: center;
    font-size: 20px;
    text-decoration: none;
    font-family: 'Rubik', sans-serif;
    border-radius: 30px;
}

a.navbarItems:hover {
    background-color: #B6D6C7;
}

#current {
    background-color: #458F6C;
    color: white;
    font-weight: bold;
}

table {
    width: 300px;
    color: black;
}

td {
    padding: 7px 10px 10px 10px;
    font-size: 20px;
}

tr.even {
    background-color: white;
}

tr.odd {
    background-color: #B6C3C7;
}

.choiceButtons {
    background-color: #458F6C;
    border: 0px solid #458F6C;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-weight: 100;
    padding: 10px 25px;
    text-align: center;
    transition: transform 100ms;
    align-self: center;
}

.choiceButtons:hover {
    box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
    transform: translateY(-2px);
}

.DMSwitch {
    float: right;
    display: block;
    margin: 5px;
    padding: 14px 16px;
    color: black;
    text-align: center;
    font-size: 20px;
    font-family: 'Rubik', sans-serif;
    border-radius: 30px;
    cursor: pointer;
}

.dark-mode {
    background-color: #15202B;
    color: white;
}

.dark-mode-nav {
    background-color: #22303C;
    color: white;
    outline-color: #8899A6;
    color: white;
}

.dark-mode-td {
    border: 2px solid #8899A6;
}