body {
    background-color: #EFEFEF;
}

table {
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.main{
    width: 99%;
    /* padding: 20px 0px 20px 15px;  */
    /*  top bottom right left */
    margin: 15px;
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;
    /* grid-gap: 0px; */
}

.formDiv{
    margin: 30px 0px 0px;
    font-family: 'Rubik', sans-serif;
    padding: 30px 0px 0px 10px;
    text-align: center;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 7px 25px rgba(0,0,0,0.08);
    grid-column-start: 2;
}

.label {
    font-size: 20px;
    font-weight: bold;
    margin: 15px;
}

.inputFields {
    width: 95%;
    margin: 10px 10px 30px;
    padding: 10px 20px;
    font-size: 20px;
    border: 2px solid #68797B;
    border-radius: 15px;
    background-color: white;
    background-repeat: no-repeat;
    background-position: left 1rem center;
    background-size: 1em;
}

.inputFields:focus{
    outline: none;
    border: 2px solid #458F6C;
}

input[type="radio"] {
    display: none;
}

input[type="radio"]+label {
    margin: 15px;
    border-radius: 30px;
    cursor: pointer;
    transition: all 200ms ease;
}

input[type="radio"]:hover+label {
    background-color: #B6D6C7;
}

input[type="radio"]:checked+label {
    color: white;
    font-weight: bold;
    background-color: #458F6C;
}

.gender{
    padding: 10px 58px 10px;
    font-size: 18px;
}

.status {
    padding: 10px 52px 10px;
    font-size: 18px;
}

.radio{
    margin: 0px 0px 40px;
}

#level {
    appearance: none;
    background-image: url("../resources/chevron.png");
    background-position: right 1rem center;
}

#name {
    padding-left: 3.3rem;
    background-image: url("../resources/user.png");
}

#id {
    padding-left: 3.3rem;
    background-image: url("../resources/id.png");
    color: #545454;
    cursor: not-allowed;
}

#email {
    padding-left: 3.3rem;
    background-image: url("../resources/email.png");
}

#phone {
    padding-left: 3.3rem;
    background-image: url("../resources/phone.png");
}

#dept {
    appearance: none;
    cursor: not-allowed;
    color: #545454;
}

#gpa {
    padding-left: 3.3rem;
    background-image: url("../resources/grade.png");
}

#gpa::-webkit-inner-spin-button,
#gpa::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#edit {
    display: flex;
    justify-content: right;
    align-items: right;
}

#delete {
    display: flex;
    justify-content: left;
    align-items: left;
}

.buttons {
    margin: 10px 20px;
    padding: 10px 20px;
    font-size: 20px;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    background-color: #458F6C;
    color: white;
    cursor: pointer;
    border-radius: 30px;
}

#container {
    display: flex;
    margin: 5%;
    padding: 5%;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.1);
}

#noStudent p {
    font-size: 4rem;
    font-weight: bold;
    color: tomato;
}

p a {
    padding: 10px 20px;
    font-size: 4rem;
    background-color: #458F6C;
    color: white;
    cursor: pointer;
    border-radius: 20px;
    text-decoration: none;
}
