body {
    background-color: #efefef;
}

table {
    display: grid;
    justify-content: center;
    align-items: center;
    font-family: 'Rubik', sans-serif;
    margin: 40px 10px 20px;
}

.leftAlign , .rightAlign {
    margin: 0px 15px 15px 0px;
}

.main{
    width: 99%;
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;
    grid-gap: 20px;
}

.formDiv{
    margin: 30px 0px 00px;
    font-family: 'Rubik', sans-serif;
    padding: 30px 10px 10px 10px;
    text-align: center;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 7px 25px rgba(0,0,0,0.08);
    grid-column-start: 2;
}

.label {
    font-size: 20px;
    font-weight: bold;
    margin: 15px;
}

.inputFields {
    width: 95%;
    margin: 10px;
    padding: 10px 20px;
    font-size: 20px;
    border: 1px solid #68797B;
    border-radius: 15px;
    background-color: white;
    background-repeat: no-repeat;
    background-position: left 1rem center;
    background-size: 1em;
}

input[type="radio"] {
    display: none;
}

input[type="radio"]+label {
    margin: 10px;
    padding: 10px 20px;
    border-radius: 30px;
    cursor: pointer;
    transition: all 200ms ease;
}

input[type="radio"]:hover+label {
    background-color: #B6D6C7;
}

input[type="radio"]:checked+label {
    color: white;
    font-weight: bold;
    background-color: #458F6C;
}

.radio{
    margin: 15px 15px 25px;
}

#name {
    cursor: not-allowed;
    padding-left: 3.3rem;
    background-image: url("../resources/user.png");
    color: #545454;
}

#id {
    cursor: not-allowed;
    padding-left: 3.3rem;
    background-image: url("../resources/id.png");
    color: #545454;
}

#level {
    cursor: not-allowed;
    appearance: none;
    color: #545454;
}

#dept {
    appearance: none;
    background-image: url("../resources/chevron.png");
    background-position: right 1rem center;
}

#buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons {
    margin: 20px;
    padding: 10px 20px;
    font-size: 20px;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    background-color: #458F6C;
    color: white;
    cursor: pointer;
    border-radius: 30px;
}

#container {
    display: flex;
    margin: 5%;
    padding: 5%;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.1);
}

#noStudent p {
    font-size: 4rem;
    font-weight: bold;
    color: tomato;
}

p a {
    padding: 10px 20px;
    font-size: 4rem;
    background-color: #458F6C;
    color: white;
    cursor: pointer;
    border-radius: 20px;
    text-decoration: none;
}