#navbar {
    background-color: white;
    margin: -8px -8px 20px;
    padding: 10px;
    overflow: hidden;
    box-shadow: 0 7px 25px rgba(0,0,0,0.08);
}

.navbarItems {
    float: left;
    display: block;
    margin: 5px;
    padding: 14px 16px;
    color: black;
    text-align: center;
    font-size: 20px;
    text-decoration: none;
    font-family: 'Rubik', sans-serif;
    border-radius: 20px;
}

a.navbarItems:hover {
    background-color: #B6D6C7;
}

#current {
    background-color: #458F6C;
    color: white;
    font-weight: bold;
}

#logo{
    float: right;
    width: 70px;
    height: 65px;
    margin-right: 10px;
}

input[type=checkbox]{
    display: none;
}

.checkboxLabel{
    display: none;
    font-size: 24px;
    user-select: none;
}