{% load static %}
<head>
    <link rel="icon" href="{%static 'favicon.ico'%}">
</head>
<nav id="navbar">
    <input type="checkbox" id="checkboxToggle">
    <label for="checkboxToggle" class="checkboxLabel">&#9776;</label>
    <img id="logo" src="{%static 'resources/FCAI-Logo.png'%}" alt="FCAI Logo">
    <div class="menu">
        <a class="navbarItems" id="current" href="{% url 'index' %}">Home</a>
        <a class="navbarItems" href="{% url 'newStudent' %}">Add New Student</a>
        <a class="navbarItems" href="{% url 'editStudent' %}">Edit Student Data</a>
        <a class="navbarItems" href="{% url 'search' %}">Search Active Students</a>
        <a class="navbarItems" href="{% url 'viewAll' %}">View All Students</a>
        <a class="navbarItems" href="{% url 'deptAssign' %}">Assign Department</a>
    </div>    
</nav>
{%block content%}
{%endblock%}