{% load static %}
<head>
    <link rel="icon" href="{%static 'favicon.ico'%}">
</head>
<nav id="navbar">
    <input type="checkbox" id="checkboxToggle">
    <label for="checkboxToggle" class="checkboxLabel">&#9776;</label>
    <img id="logo" src="{%static 'resources/FCAI-Logo.png'%}" alt="FCAI Logo">
    <div class="menu">
        <a class="navbarItems" id="current" href="index.html">Home</a>
        <a class="navbarItems" href="newStudent.html">Add New Student</a>
        <a class="navbarItems" href="editStudent.html">Edit Student Data</a>
        <a class="navbarItems" href="search.html">Search Active Students</a>
        <a class="navbarItems" href="viewAll.html">View All Students</a>
        <a class="navbarItems" href="deptAssign.html">Assign Department</a>
    </div>    
</nav>
{%block content%}
{%endblock%}