{%extends 'navbar.html'%}
{%block content%}
{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>View All Students</title>
    <link rel="stylesheet" href="{%static 'styles/viewAll.css'%}">
    <link rel="stylesheet" media="screen and (min-device-width: 768px)" href="{%static 'styles/navbar.css'%}">
    <link rel="stylesheet" media="screen and (max-device-width: 768px)" href="{%static 'styles/navbarPhone.css'%}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Rubik&display=swap">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0">
</head>

<body>
    <table id="Table">
        <thead>
            <tr>
                <th>Name</th>
                <th>ID</th>
                <th>GPA</th>
                <th>Level</th>
                <th>Status</th>
                <th>More</th>
            </tr>
        </thead>
        <tbody>
            {% for student in students%}
                <tr>
                    <td>{{student.name}}</td>
                    <td>{{student.studNum}}</td>
                    <td>{{student.gpa}}</td>
                    <td>{{student.level}}</td>
                    <td>
                        <div class="checkbox">
                            <input type="checkbox" value="Active" id="check{{student.studNum}}">
                            <label for="check{{student.studNum}}"></label>
                        </div>
                    </td>
                    <td onclick="popUp('modal{{student.studNum}}')"></td>
                </tr>

            {%endfor%}
            {%for student in students%}
                <div class="modal" id="modal{{student.studNum}}">
                    <div class="modal-head">
                        <div class="title">More Information</div>
                        <button class="close-button" onclick="closePopUp('modal{{student.studNum}}')">x</button>
                    </div>
                    <div class="modal-body">
                        <span>
                            <b>Gender: &nbsp;</b>
                            {{student.gender}}
                        </span>
                        <br>
                        <span>
                            <b>Date of Birth: &nbsp;</b>
                            {{student.dob}}
                        </span>
                        <br>
                        <span>
                            <b>Phone: &nbsp;</b>
                            {{student.phone}}
                        </span>
                        <br>
                        <span>
                            <b>Email: &nbsp;</b>
                            {{student.email}}
                        </span>
                        <br>
                    </div>
                </div>
            {%endfor%}

        </tbody>
    </table>
        <div class="overlay"></div>
    <script src="{%static 'scripts/viewAll.js'%}"></script>
</body>

</html>
{%endblock%}