*{
    font-family: 'Rubik', sans-serif;
}

body {
    background-color: #EFEFEF;
    color: black;
    font-size: 20px;
}

a {
    padding: 10px 20px;
    font-size: 40px;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    color: black;
    cursor: pointer;
    border-radius: 30px;
    text-decoration: none;
    display: block;
}

a.projectLink:hover {
    background-color: #B6D6C7;
}

.cards{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 20px;
}

.cards .card{

    border-radius: 10px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    display: grid;
    grid-template-rows: 1fr 2fr;
    grid-gap: 15px;
    background-color: #EFEFEF;

}

.top-half{
    text-align: center;
    justify-content: space-between;
    background-color: #efefef;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-gap: 10px;  
    border-radius: 8px 8px 0px 0px;
}

.inner-left{
    aspect-ratio: 1/1;
    width: 145px;
    text-align: center;
    justify-content: space-between;
    display: flex;
    background-color: white;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 5px;
    box-shadow: 0 7px 25px rgba(0,0,0,0.08);
}

.inner-right{
    text-align: center;
    justify-content: center;
    display: flex;
    background-color: white;
    border-radius: 10px;
    align-items: center;
    vertical-align: middle;
    box-shadow: 0 7px 25px rgba(0,0,0,0.08);
    border-top-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 5px;
}

.bottom-half{
    padding: 0px 10px 0px 10px;
    text-align: left;
    justify-content: space-between;
    background-color: white;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0 7px 25px rgba(0,0,0,0.08);
}

#sAffairs {
    border-left: 3px solid #458F6C;
}
#sAffairs .top-half{

    border-top: 3px solid #458F6C;
    border-right: 3px solid #458F6C;
}
#sAffairs .bottom-half{
    border-top: 3px solid #458F6C;
    border-bottom: 3px solid #458F6C;
    border-right: 3px solid #458F6C;
}
#sAffairs .inner-left{
    border-right: 3px solid #458F6C;
    border-bottom: 3px solid #458F6C;
}
#sAffairs .inner-right{
    border-left: 3px solid #458F6C;
    border-bottom: 3px solid #458F6C;    
}
#sAffairs .bottom-half ul {
    list-style: none;
}
#sAffairs .bottom-half ul li::before {
    content: "\2022";
    color: #458F6C;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}


#labManagement{
    border-right: 3px solid #36A2EB;
}
#labManagement .top-half{
    border-top: 3px solid #36A2EB;
    border-left: 3px solid #36A2EB;
}
#labManagement .bottom-half{
    border-top: 3px solid #36A2EB;
    border-bottom: 3px solid #36A2EB;
    border-left: 3px solid #36A2EB;    
}
#labManagement .inner-left{
    justify-content: center;
    border-right: 3px solid #36A2EB;
    border-bottom: 3px solid #36A2EB;
}
#labManagement .inner-right{
    border-left: 3px solid #36A2EB;
    border-bottom: 3px solid #36A2EB;    
}
#labManagement .inner-left img{
    height: 100px;
    align-self: center;
}
#labManagement .bottom-half ul {
    list-style: none;
}
#labManagement .bottom-half ul li::before {
    content: "\2022";
    color: #36A2EB;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}


#higherStudies{
    border-left: 3px solid #374785;
}
#higherStudies .top-half{
    border-right: 3px solid #374785;
    /* border-left: 3px solid #374785; */
}
#higherStudies .bottom-half{
    /* border: 3px solid #374785; */
    border-bottom: 3px solid #374785;
    border-right: 3px solid #374785;
    border-top: 3px solid #374785;
    /* border-left: 3px solid #374785;     */
}
#higherStudies .inner-left{
    justify-content: center;
    border-top: 3px solid #374785;
    border-right: 3px solid #374785;
    border-bottom: 3px solid #374785;
}
#higherStudies .inner-right{
    border-top: 3px solid #374785;
    border-left: 3px solid #374785;
    border-bottom: 3px solid #374785;    
}
#higherStudies .inner-left img{
    height: 115px;
    align-self: center;
}
#higherStudies .bottom-half ul {
    list-style: none;
}
#higherStudies .bottom-half ul li::before {
    content: "\2022";
    color: #374785;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}


#humanResources{
    border-right: 3px solid #F76C6C;
}
#humanResources .top-half{
    /* border-right: 3px solid #F76C6C; */
    border-left: 3px solid #F76C6C;
}
#humanResources .bottom-half{
    /* border: 3px solid #F76C6C; */
    border-top: 3px solid #F76C6C;
    border-bottom: 3px solid #F76C6C;
    /* border-right: 3px solid #F76C6C; */
    border-left: 3px solid #F76C6C;    
}
#humanResources .inner-left{
    border-top: 3px solid #F76C6C;
    justify-content: center;
    border-right: 3px solid #F76C6C;
    border-bottom: 3px solid #F76C6C;
}
#humanResources .inner-right{
    border-top: 3px solid #F76C6C;
    border-left: 3px solid #F76C6C;
    border-bottom: 3px solid #F76C6C;    
}
#humanResources .inner-left img{
    height: 100px;
    align-self: center;
}
#humanResources .bottom-half ul {
    list-style: none;
}
#humanResources .bottom-half ul li::before {
    content: "\2022";
    color: #F76C6C;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}