table {
    margin: calc((100% - 80%)/2);
    width: 80%;
    text-align: center;
    border-collapse: collapse;
    font-size: 0.9em;
    font-family: 'Rubik', sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}



table thead tr {
    background-color: #458F6C;
    color: #ffffff;
    text-align: center;
}

table th,
table td {
    padding: 12px 15px;
}

table tbody tr {
    border-bottom: 1px solid #dddddd;
    background-color: #ffffff;
}

table tbody tr:nth-child(4n+3),
table tbody tr:nth-child(4n+4) {
    background-color: #d2ffc265;
}

span {
    margin: calc((100% - 80%)/5);
    width : 80%;
    text-align: center;
}
table tbody tr:nth-child(2n+1) :first-child{
    text-align: left;
}


.hidden {
    display: none;
}

.arrow {
    width: 2%;
    transition-duration: 300ms;
    width: 10px;
    cursor: pointer;
}

.mainrow:hover {
    background: #677b70;
    transition-duration: 0.4s;
    color: white;
}

input[type='checkbox'] {
    display: none;
}

input[type='checkbox']+label {
    position: relative;
    display: flex;
    justify-content: center;
    width: 32px;

}

input[type='checkbox']:checked+label {
    position: relative;
    display: flex;
    justify-content: center;
    width: 32px;
}


input[type='checkbox']+label::before {
    content: "";
    width: 2em;
    height: 1em;
    background-color: #ff9999;
    border-radius: 31px;
}

input[type='checkbox']:checked+label::before {
    content: "";
    width: 2em;
    height: 1em;
    background-color: #aafe8e;
    border-radius: 31px;
}


input[type='checkbox']+label::after {
    content: "";
    width: 1em;
    height: 1em;
    background-color: #ff1a1a;
    border-radius: 31px;
    position: absolute;
    left: 0px;
    transition: background-color 0.3s ease-in-out, left 0.5s ease-in-out;
}

input[type='checkbox']:checked+label::after {
    content: "";
    width: 1em;
    height: 1em;
    background-color: #00b33c;
    border-radius: 31px;
    position: absolute;
    left: 16px;
    transition: background-color 0.3s ease-in-out, left 0.5s ease-in-out;
}

body {
    background-color: #EFEFEF;
}

#navbar {
    background-color: white;
    margin: -10px;
    padding: 10px;
    overflow: hidden;
}

.checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbarItems {
    float: left;
    display: block;
    margin: 5px;
    padding: 14px 16px;
    color: black;
    text-align: center;
    font-size: 20px;
    text-decoration: none;
    font-family: 'Rubik', sans-serif;
    border-radius: 30px;
}

a.navbarItems:hover {
    background-color: #B6D6C7;
}

#current {
    color: white;
    background-color: #458F6C;
    font-weight: bold;
}