body {
    background-color: #EFEFEF;
}

table {
    position: absolute;
    margin: calc((100% - 90%)/2);
    margin-top: 5px;
    width: 90%;
    text-align: center;
    border-collapse: collapse;
    font-size: 1.2em;
    font-family: 'Rubik', sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

table th,
table td {
    padding: 12px 15px;
}

table thead tr {
    background-color: #458F6C;
    color: #ffffff;
    text-align: center;
}

table tbody tr {
    border-bottom: 1px solid #dddddd;
    background-color: #ffffff;
}

table tbody tr:nth-child(even) {
    background-color: #d2ffc265;
}

table tbody tr:nth-child(n) :first-child {
    text-align: left;
}


tr td:nth-child(n + 6) {
    background-image: url(../resources/three-dots.png);
    background-size: 42px 42px;
    background-position: center;
    background-repeat: no-repeat;
}

table tbody tr:last-of-type {
    border-bottom: 3px solid #458F6C;
}

.modal {
    font-family: 'Rubik', sans-serif;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 300ms ease-in-out;
    z-index: 10;
    background-color: #EFEFEF;
    width: 350px;
    max-width: 80%;
    height: 250px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.modal.active {
    transform: translate(-50%, -50%) scale(1);
}

.modal-head {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid ffffff;
    background-color: #458F6C;
    color: #ffffff;
    border-radius: 9px 9px 0px 0px;
}

.modal-head .title {
    font-size: 25px;
    font-weight: bold;
}

.modal-head .close-button {
    cursor: pointer;
    outline: none;
    border: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
    color: #ffffff;
}

.modal-head .close-button:hover {
    color: #000;
}

.modal-body {
    padding: 10px 15px;
}

.modal-body span {
    display: flex;
    justify-content: center;
}

.overlay {
    position: fixed;
    opacity: 0;
    transition: 300ms ease-in-out;
    z-index: 9;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
}

.overlay.active {
    opacity: 1;
    pointer-events: all;
}


.mainrow:hover {
    background: #677b70;
    transition-duration: 0.4s;
    color: white;
}

input[type='checkbox'] {
    display: none;
}

input[type='checkbox']+label {
    position: relative;
    display: flex;
    justify-content: center;
    width: 32px;

}

input[type='checkbox']:checked+label {
    position: relative;
    display: flex;
    justify-content: center;
    width: 32px;
}


input[type='checkbox']+label::before {
    content: "";
    width: 2em;
    height: 1em;
    background-color: #d7d6d6;
    border-radius: 31px;
}

input[type='checkbox']:checked+label::before {
    content: "";
    width: 2em;
    height: 1em;
    background-color: #a5f080;
    border-radius: 31px;
}


input[type='checkbox']+label::after {
    content: "";
    width: 1em;
    height: 1em;
    background-color: #8f8f8f;
    border-radius: 31px;
    position: absolute;
    left: 0px;
    transition: background-color 0.3s ease-in-out, left 0.5s ease-in-out;
}

input[type='checkbox']:checked+label::after {
    content: "";
    width: 1em;
    height: 1em;
    background-color: #458F6C;
    border-radius: 31px;
    position: absolute;
    left: 16px;
    transition: background-color 0.3s ease-in-out, left 0.5s ease-in-out;
}

.checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
}

.mainRow:hover {
    background-color: #677b70 !important;
    transition-duration: 0.4s;
    color: white;
}

